################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OrderEntryMockingPractice/v16/Server/sqlite3
/.vs/OrderEntryMockingPractice/v16
/packages
/OrderEntryMockingPracticeTests/bin/Debug
/OrderEntryMockingPracticeTests/obj/Debug
/OrderEntryMockingPractice/bin/Debug
/OrderEntryMockingPractice/obj/Debug
